<div id="<%= dom_id service %>">
  <p>
    <strong>Nombre:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= service.price %>
  </p>

  <p>
    <strong>Estado:</strong>
     <%= service.active ? 'Activo' : 'Inactivo' %>
  </p>

</div>
