<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h1>Editar servicio</h1>
    </div>
    <div class="card-body">
      <%= render "form", service: @service %>
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <%= link_to "Volver a tabla de servicios", services_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>