<h1>Nuevo Servicio</h1>
<div class="container text-center">

  <%= render "form", service: @service %>

  <div>
    <%= link_to "Volver a servicios", services_path, class: "btn btn-primary" %>
  </div>
</div>