<body style="background-image: url('<%= asset_path('dogbonewallpaper.jpg') %>'); background-size: cover;">
  <div style="background-color: rgba(255, 255, 255, 0.7); padding: 2px; border-radius: 10px; margin: 20px; text-align: center; display: flex; align-items: center;">
      <img src="<%= asset_path('dogwalking.png') %>" alt="Image" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 15px;">
      <h1 style="margin: 0;">Paseadores y Cuidadores</h1>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Agregar Paseador/Cuidador", new_dog_walker_path, class: "btn btn-primary my-2 mx-5" %>
  <% end %>
  <div id="dog_walkers">
    <% @dog_walkers.each do |dog_walker| %>
      <%= render dog_walker %>
    <% end %>
  </div>
</body>
