<div class="card mx-5 my-5">
  <div class ="card-header">
    <div class="d-flex align-items-center">
      <div class="me-auto">
          <img src="<%= asset_path('dogwalking.png') %>" alt="Image" style="width: 100px; height: 100px; border-radius: 10%; margin-right: 15px;">
        </div>
        <div class="col-md"> 
          <h1 style="margin: 0;" class="text-start"> Nuevo Paseador/Cuidador </h1>
        </div> 
      <div>
        <%= link_to "Ver lista de paseadores", dog_walkers_path, class: "btn btn-primary my-2 mx-5" %>
      </div>
    </div>
  </div>  
  <div class="card-body">
    <%= render "form", dog_walker: @dog_walker %>
  </div>
</div>