<body style="background-image: url('<%= asset_path('dogbonewallpaper.jpg') %>'); background-size: cover;">
  <div>
    <%= link_to "Ver lista de paseadores", dog_walkers_path, class: "btn btn-primary my-2 mx-5" %>
  </div>

  <%= render @dog_walker %>
</body>