<div id="<%= dom_id meeting %>">
  <p>
    <strong>Opciones:</strong>
    <%= t("activerecord.attributes.meeting.names.#{meeting.name}") %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= meeting.start_time %>
  </p>

</div>
