<h1>Editing meeting</h1>

<%= render "form", meeting: @meeting %>

<br>

<div>
  <%= link_to "Mostrar evento", @meeting, class: "btn btn-primary" %> |
  <%= link_to "Volver a Calendario", meetings_path, class: "btn btn-primary" %>
</div>
