<%= render @meeting %>

<div>
  <%= link_to "Editar este evento", edit_meeting_path(@meeting) %> |
  <%= link_to "Volver al calendario", meetings_path %>

  <%= button_to "Eliminar este evento", @meeting, method: :delete %>
</div>
