<div id="<%= dom_id clinic_dog %>">
  <p>
    <strong>Question:</strong>
    <%= clinic_dog.question %>
  </p>

  <p>
    <strong>Dateclinic:</strong>
    <%= clinic_dog.dateclinic %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= clinic_dog.description %>
  </p>

</div>
