<h1>Editing clinic dog</h1>

<%= render "form", clinic_dog: @clinic_dog %>

<br>

<div>
  <%= link_to "Show this clinic dog", @clinic_dog %> |
  <%= link_to "Back to clinic dogs", clinic_dogs_path %>
</div>
