<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h1>Editar historia clínica</h1>
    </div>
    <div class="card-body">
      <%= render "form", clinic_dog: @clinic_dog %>
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <%= link_to "Volver a ver esta historia", clinic_dog_path(@clinic_dog), class: "btn btn-info" %>
        <%= link_to "Volver a lista de historias clínicas", dog_clinic_dogs_path(@clinic_dog.dog), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
