<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h1>Nueva historia clínica</h1>
    </div>
    <div class="card-body">
      <%= render "form", clinic_dog: @clinic_dog %>
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <%= link_to "Cancelar", :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>