<h1>Editar mascota</h1>

<%= render "form", dog: @dog %>

<br>

<div>
  <%= link_to "Ver", @dog, class: "btn btn-dark" %> |
  <%= link_to "Volver a perros", dogs_path, class: "btn btn-dark" %>
</div>
