<h1>Editar mascota</h1>

<%= render "form", dog: @dog %>

<br>

<div>
  <%= link_to "Ver", @dog, class: "btn btn-dark" %> |
  <%= link_to "Volver", :back, class: "btn btn-secondary" %>
  <%= link_to "Volver a perros", user_dogs_path(@dog.user), class: "btn btn-dark" %>
</div>
