<p style="color: green"><%= notice %></p>

<h1>Mis perros</h1>

<div id="dogs">
  <% @dogs.each do |dog| %>
    <%= render dog %>
    <p>
      <%= link_to "Ver", dog, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
