<h1>Nueva mascota</h1>

<%= render "form", dog: @dog %>

<br>

<div>
  <% if current_user == @user %>
    <%= link_to "Volver a mis mascotas", user_dogs_path(@user), class: "btn btn-secondary" %>
  <% else %>
    <%= link_to "Volver a las mascotas del cliente", user_dogs_path(@user), class: "btn btn-secondary" %>
  <% end %>
</div>