<%= link_to "Hacer una Donacion", new_credit_card_path, class: "btn btn-primary my-2" %>

<div id="credit_cards">
  <% @credit_cards.each do |credit_card| %>
    <%= render credit_card %>
  <% end %>
</div>

