<div class="card mx-5 my-5">
  <div class ="card-header">
    <div class="d-flex align-items-center">
      <div class="me-auto">
          <img src="<%= asset_path('donationdog.png') %>" alt="Image" style="width: 100px; height: 100px; border-radius: 10%; margin-right: 15px;">
        </div> 
        <div class="col-md"> 
          <h1 style="margin: 0;" class="text-start"> Historial de Donaciones </h1>
        </div> 
      <div>
        <% if (current_user.present? && !current_user.admin?) || !current_user.present? %>
          <%= link_to "Hacer una Donacion", new_credit_card_path, class: "btn btn-primary my-2" %>
        <% end %>  
      </div>
    </div>
  </div>  
  <div class="card-body">
    <% if current_user&.admin? %>

    <!-- Mostrar todas las donaciones para el administrador -->
      <div id="credit_cards">
        <% @credit_cards.each do |credit_card| %>
          <%= render credit_card %>
        <% end %>  
      </div>
    <% elsif current_user.present? %>

    <!-- Mostrar solo las donaciones del usuario para usuarios registrados -->
      <div id="credit_cards">
        <% current_user.credit_cards.each do |credit_card| %>
          <%= render credit_card %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>  

