<h1>Inbox</h1>

<% if @notifications.any? %>
  <ul class="list-group">
    <% Message.where(user_id: current_user.id).order(date: :desc).each do |message| %>
      <% if message.date.nil? || message.date <= Date.today %>
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= message.title %></h5>
          </div>
          <p class="mb-1"><%= message.content %></p>
          <small>Recibido el <%= message.date %></small>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No tienes notificationes.</p>
<% end %>
