<h1>Inbox</h1>

<% if @notifications.any? %>
  <ul class="list-group">
    <% @notifications.each do |notification| %>
      <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= notification.to_notification.title %></h5>
        </div>
        <p class="mb-1"><%= notification.to_notification.message %></p>
        <small>Recibido el <%= notification.created_at.to_date %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No notifications found.</p>
<% end %>
