<div class="container">
  <%= render @user %>

  <% if current_user != @user %>
    <div class="row">
      <div class="col-lg-4 text-center mt-2 mt-lg-0">
        <%= link_to "Volver a tabla de clientes", users_path, class: "btn btn-secondary" %>
      <div>
    </div>
  <% end %>
</div>
