<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title mb-4">Editar Publicación</h1>
          <%= render "form", adoption_post: @adoption_post %>
        </div>
      </div>
    </div>
  </div>
</div>