<div id="<%= dom_id turn_form %>">
  <p>
    <strong>Datecons:</strong>
    <%= turn_form.DateCons %>
  </p>

  <p>
    <strong>Schedulecons:</strong>
    <%= turn_form.ScheduleCons %>
  </p>

  <p>
    <strong>Descriptioncons:</strong>
    <%= turn_form.descriptionCons %>
  </p>

</div>
