<h1>Editing turn form</h1>

<%= render "form", turn_form: @turn_form %>

<br>

<div>
  <%= link_to "Show this turn form", @turn_form %> |
  <%= link_to "Back to turn forms", turn_forms_path %>
</div>
