<div class="d-flex align-items-center">
  <div class="me-auto">
    <h1>Turnos solicitados</h1>
  </div>
  <% if current_user.client? %>
    <%= link_to new_turn_form_path, class: "btn btn-primary btn-lg" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
      Solicitar turno
    <% end %>
  <% end %>
</div>

<div id="turn_forms my-3">
  <% @turn_forms.each do |turn_form| %>
    <div class="container"> <!-- Agregar un contenedor para centrar el contenido -->
      <div class="row justify-content-center my-3" style="border: 2px solid rgba(122, 246, 254, 0.5);">
        <%= render turn_form %>
        <p>
          <%= link_to "Ver turno", turn_form, method: :get, method: :get, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  <% end %>
</div>  

