<div class="container">
  <%= render "form", turn_form: @turn_form %>
  
  <br>

  <div>
    <%= link_to "Volver a turnos", turn_forms_path, method: :get, class: "btn btn-secondary" %>
  </div>
</div>