<p style="color: green"><%= notice %></p>

<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-8" style="border: 2px solid rgba(122, 246, 254, 0.5);">
      <%= render @turn_form %>
      <div class="mt-3 text-center">
        <%= link_to "Volver a los formularios", turn_forms_path, method: :get, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>