<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un cambio de tu contraseña. Puedes hacer esto por medio del link debajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no solicitaste esto, por favor ignora este correo.</p>
<p>Tu contraseña no será cambiada hasta que accedas al link de arriba y crees una nueva.</p>
