<h2>Dogs of <%= @user.first_name %></h2>
<div>
  <% @dogs.each do |dog| %>
    <%= render partial: 'dogs/dog', locals: { dog: dog } %>
  <% end %>
</div>
<%= link_to 'Back to Users', admin_users_path %>
