<% flash.each do |type, msg| %>
  <% if type.in?(%w[notice alert]) %>
    <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
  <% else %>
    <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
  <% end %>
  <strong><%= msg %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
